# EditorConfig is awesome: http://EditorConfig.org
# ( I kept the comment above because I agree :) )

# Top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

# Default charset
[*.{xhtml,html,css,js,ts,php,py,rb,go}]
charset = utf-8

[*.{java,clj,cljs,cljc,edn}]
charset = utf-16

# Web, no PHP, Ruby, Clojure
[*.{xhtml,html,css,js,ts,rb,clj,cljs,cljc,edn}]
indent_style = space
indent_size = 2

# PHP, Python, Java
[*.{php,py,java}]
indent_style = space
indent_size = 4

# Go
[*.go]
indent_style = tab
tab_width = 8
